*
.social-container {
    background: #eee;
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    /* display: inline-block; */
  }

  a.social:hover {
    transform: translateY(-2px);
  }


  a.facebook {
    color: #4968ad;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    min-height: 10vh;

  }
  
  a.instagram {
    color: black;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    min-height: 10vh;
  }

  .content{
    margin-top: 30px;
    
  }
  a.tel{
    color:black;
    text-decoration: none;
  }

  a.map{
    color:black;
    text-decoration: none;
    margin-bottom:200px;
  }

  .custom-font{
    font-family: "Carattere", cursive;
    font-style:normal;
    margin-bottom: 20px;
    }

    .margin125{
      margin-top:125px;
      margin-bottom: 100px; /* Adaugă spațiu suplimentar în partea de jos */
    }
    .margin50{
      margin-bottom:30px;
    }