*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    width: 100%;
    border-bottom: 1px solid #ababab;
}

.header .top_header
{
    max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #f6f7f8;
}
.header .top_header .icon
{
    margin-left: 15px;
    color: #ababab;
    font-size: 19px;
}
.header .top_header .Info p
{
    margin-left: 20px;
    color: #8a8a8a;
}
.header .mid_header
{
    display: flex;
    justify-content: space-between;
}
.logo img
{
    cursor: pointer;
    object-fit: cover;
    max-width: 50px;
}

.search_box 
{
    display: flex; 
    align-items: center; 
}
.search_box input
{
    padding: 10px 30px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
    border: none;
    background: #f6f7f8;
}
.search_box button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    width: 50px;
    background: #8a8a8a;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.search_box button:hover
{
    background: #31312f;
    color: #8a8a8a;
}
.user
{
    display: flex;
    margin-right: 30px;
}
.user .icon
{
    margin-right: 10px;
    margin-top: 5px;
    color: #31312f;
}
.btn{
    margin-top:5px;
}
.btn .auth-link
{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;  
    color: #ffffff;
    margin-top: 50px;
}
.btn button
{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;  
    color: #ffffff;
}
.header .last_header
{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background: black;
    justify-content: space-between;
}
.header .last_header .user_profile
{
    display: flex;
    margin-top: 10px;
}
.header .last_header .user_profile .icon
{
    padding: 5px 5px;
    background: #fff;
    border-radius: 10px;
}
.header .last_header .user_profile .info
{
    margin-left: 10px;
    margin-top: 1px;
}
.header .last_header .user_profile .info h2
{
    color: #fff;
    font-size: 14px;
}
.header .last_header .user_profile .info p
{
    color: #ababab;
    font-size: 14px;
}
.header .last_header .nav
{
    margin-top: 15px;
}
.header .last_header .nav ul
{
    display: flex;
}
.header .last_header .nav ul li
{
    list-style: none;
}
.header .last_header .nav ul li .link
{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.header .last_header .nav ul li .link:hover
{
    color: #8a8a8a;
}
.offer
{
    margin-right: 20px;
    padding: 10px 20px;
    background: #8a8a8a;
    border-radius: 10px;
}
.offer p
{
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}